# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/
.coverage
htmlcov/

# Serverless directories
.serverless
node_modules/

# Other
.vscode/
serverless-variables.yml
