[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
pytest = "*"

[packages]
requests = "*"
elasticsearch = "*"
aws-requests-auth = "*"
boto3 = "*"
flatten-dict = "*"
pylru = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
