[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
pytest = "*"
moto = "*"
coverage = "*"
pytest-cov = "*"

[packages]
requests = "*"
elasticsearch = "~=6.3"
aws-requests-auth = "*"
boto3 = "*"
flatten-dict = "*"
pylru = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
